SpInfra1Integration/node_modules/
SpInfra1Integration/.vscode/
SpInfra1Integration/.angular/
SpInfra2IntegrationWS/.vs/
SpInfra2IntegrationWS/SpExemplo2PublicWS/bin/
SpInfra2IntegrationWS/SpExemplo2PublicWS/obj/